# Pandas III dalis

In [2]:
import numpy as np
import pandas as pd

### Unikalios reikšmės

In [10]:
top = pd.read_csv('top50.csv', encoding='ISO-8859-1')

In [11]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Seï¿½orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

Nuskaitėme failą į DataFrame'ą 'top'. Šie duomenys - Spotify top 50 2019 dainų.

Pamėginkime išrinkti unikalias reikšmes iš stulpelio 'Genre':

In [12]:
top['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

jeigu norime sužinoti, kiek jų yra, tiesiog naudojame *len* funkciją:

In [13]:
len(top['Genre'].unique())

21

tą patį gausime, panaudoję pandas metodą **.nunique()**:

In [14]:
top['Genre'].nunique()

21

galime panaudoti metodą **.value_counts()**:

In [15]:
top['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
edm                 3
canadian hip hop    3
canadian pop        2
reggaeton           2
panamanian pop      2
electropop          2
reggaeton flow      2
country rap         2
dfw rap             2
brostep             2
big room            1
trap music          1
escape room         1
australian pop      1
r&b en espanol      1
atl hip hop         1
pop house           1
boy band            1
Name: Genre, dtype: int64

gavome sąrašą unikalių reikšmių, ir kiek jų yra lentelėje.

### .apply() metodas

jei pamenate, su DF galime naudoti įvairias funkcijas, pvz.:

In [16]:
top['Length.'].sum()

10048

su **.apply()** galime maudoti ir savo funkcijas. Parašykime funkciją, kuri iš duotų sekundžių skaičiaus išskirs minutes ir sekundes formatu mm:ss

In [17]:
def minutes_seconds(s):
    minutes = s // 60
    seconds = s % 60
    if len(str(seconds)) < 2:
        return f'{minutes}:0{seconds}'
    return f'{minutes}:{seconds}'

In [18]:
minutes_seconds(110)

'1:50'

pritaikykime šią funkciją stulpeliui 'Length.':

In [19]:
top['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

Gavome seriją. Galime jos pagrindu jos pagrindu pakoreguoti senąjį arba sukurti naują stulpelį, pvz.:

In [20]:
top['Length.Pretty'] = top['Length.'].apply(minutes_seconds)

In [21]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Seï¿½orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55

Galime naudoti **lambdas**:

In [22]:
top['Energy'].apply(lambda x: round(x/10)).head()

0    6
1    8
2    8
3    6
4    6
Name: Energy, dtype: int64

pavertėme 'Energy' stulpelio įvertinimus iš šimtabalės į dešimtbalę sistemą.

### Naudingos funkcijos

**.columns** grąžina stulpelių sąrašą

In [23]:
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

**.index** suteikia informaciją apie indeksą:

In [24]:
top.index

RangeIndex(start=0, stop=50, step=1)

**.shape** grąžina *tuple* su eilučių ir stulpelių skaičiumi

In [25]:
top.shape

(50, 15)

**.sort_values** surūšiuoja eilutes pagal nurodytą stulpelį:

In [26]:
top.sort_values('Track.Name').head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,2:56
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,3:38

**.isnull()** grąžina lentelę su boolean reikšmėmis kur True reiškia NaN.

In [27]:
top.isnull().head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

ši lentelė tvarkinga, todėl True reikšmių nesimato :)

# Duomenų nuskaitymas / įrašymas

### CSV

CSV - turbūt dažniausiai pasitaikantis formatas, analizuojant duomenis. Vieną CSV failą jau nuskaitėme pirmose šio dokumento eilutėse. Nuskaitykime dar vieną:

In [31]:
duomenys = pd.read_csv('example.csv')

Jeigu norite nurodyti tiesiog failo pavadinimą, įsitikinkite, kad jupyter-notebook veikimo katalogas yra tas pats, kaip ir to failo buvimo vieta. Koks darbinis jupyter-notebook katalogas galite sužinoti, suvedę komandą **pwd**. Kitu atveju reikės nurodyti pilną kelią iki dokumento.

In [32]:
duomenys.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

norėdami įrašyti duomenis į csv failą, darome taip:

In [34]:
duomenys.to_csv('result.csv', index=False)

*index=False* nurodome todėl, kad kurdama csv, pandas nuskaito indeksą, kaip atskirą stulpelį ir paskui sugeneruoja dar vieną šalia.

### XLS

Pandas gali nuskaityti ekselio failus, tačiau tik duomenis. Įvairios funkcijos, formulės, macros pandoms nepavaldžios.

In [44]:
duomenys_xls = pd.read_excel('example.xls', sheet_name='example')

Pandas DataFrame'ų ieško excelio *sheet'uose* todėl reikia juos nurodyti.

In [42]:
duomenys_xls.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

Įrašymas:

In [45]:
duomenys_xls.to_excel('result.xls', sheet_name = 'Sheet1')

### HTML

Galime pamėginti nuskaityti HTML tiesiog nurodant pandoms URL:

In [52]:
duomenys_html = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')

In [51]:
duomenys_html

[                     0                          1
 0                  NaN                        NaN
 1             Valstybė                    Lietuva
 2            Apskritis         Vilniaus apskritis
 3              Miestai         Vilnius, Grigiškės
 4  Gyventojų (2017 m.)                 544391 (1)
 5   Gyventojų tankumas         1381,7 žm./km² (6)
 6               Plotas               401 km² (51)
 7                Meras  Remigijus Šimašius (2019)
 8             Svetainė                 vilnius.lt,
                         0                      1                      2  \
 0   Savivaldybės istorija  Savivaldybės istorija  Savivaldybės istorija
 1                   Metai            Plotas, km²          Gyventojų sk.
 2                    1942                    NaN                 146300
 3         1949 (išsamiau)                   1387                    NaN
 4                    1957                    NaN                    NaN
 5        1959 (surašymas)                   1423                 230769
 6                    1967                    153                 316400
 7        1970 (surašymas)                    265                 372100
 8                    1972                  26179                    NaN
 9                    1976                    263                 445900
 10       1979 (surašymas)                    NaN                 475825
 11                   1988                  28718                 577000
 12                   1989                    287                 576747
 13                   1999                    401                 588400
 14       2001 (surašymas)                    401                 553904

                                          3  \
 0                    Savivaldybės istorija
 1                             Suskirstymas
 2                                      NaN
 3   5 miesto rajonai (11 miesto apylinkių)
 4                         4 miesto rajonai
 5                         4 miesto rajonai
 6                                      NaN
 7                         4 miesto rajonai
 8                         4 miesto rajonai
 9                                      NaN
 10                        4 miesto rajonai
 11                        4 miesto rajonai
 12                                     NaN
 13                                     NaN
 14                            21 seniūnija

                                                     4
 0                               Savivaldybės istorija
 1                                         Gyvenvietės
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                  1 miestas: Vilnius
 6                                                 NaN
 7                                           1 miestas
 8                                           1 miestas
 9                                           1 miestas
 10                                          1 miestas
 11                                          1 miestas
 12                                          1 miestas
 13                                                NaN
 14  2 miestai: Grigiškės, Vilnius 3 kaimai (išsamiau)  ,
                                                     0  \
 0   ž • a • rVilniaus miesto saugomos teritorijosV...
 1       ž • a • rVilniaus miesto saugomos teritorijos
 2                                                 NaN
 3                             Valstybiniai rezervatai
 4                                                 NaN
 5                                  Regioniniai parkai
 6                                                 NaN
 7                            Valstybiniai draustiniai
 8                                                 NaN
 9                            Savivaldybės draustiniai
 10                                                NaN
 11                                   Gamtos paminklai
 12                                                NaN
 13               Valstybiniai gamtos paveldo objektai
 14                                                NaN
 15               Savivaldybės gamtos paveldo objektai

                                                     1
 0                                                 NaN
 1       ž • a • rVilniaus miesto saugomos teritorijos
 2                                                 NaN
 3                Vilniaus pilių kultūrinis rezervatas
 4                                                 NaN
 5   Pavilnių regioninis parkas • Verkių regioninis...
 6                                                 NaN
 7   Dvarčionių geomorfologinis • Griovių geomorfol...
 8                                                 NaN
 9   Aukštagirio geomorfologinis • Cedrono aukštupi...
 10                                                NaN
 11  Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 12                                                NaN
 13              Aukštųjų Panerių geležinkelio tunelis
 14                                                NaN
 15  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
    ž • a • rVilniaus miesto saugomos teritorijos  \
 0                                            NaN
 1                        Valstybiniai rezervatai
 2                                            NaN
 3                             Regioniniai parkai
 4                                            NaN
 5                       Valstybiniai draustiniai
 6                                            NaN
 7                       Savivaldybės draustiniai
 8                                            NaN
 9                               Gamtos paminklai
 10                                           NaN
 11          Valstybiniai gamtos paveldo objektai
 12                                           NaN
 13          Savivaldybės gamtos paveldo objektai

       ž • a • rVilniaus miesto saugomos teritorijos.1
 0                                                 NaN
 1                Vilniaus pilių kultūrinis rezervatas
 2                                                 NaN
 3   Pavilnių regioninis parkas • Verkių regioninis...
 4                                                 NaN
 5   Dvarčionių geomorfologinis • Griovių geomorfol...
 6                                                 NaN
 7   Aukštagirio geomorfologinis • Cedrono aukštupi...
 8                                                 NaN
 9   Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 10                                                NaN
 11              Aukštųjų Panerių geležinkelio tunelis
 12                                                NaN
 13  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
                                            0  \
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                                1959 m.sur.
 2                                    230 769
 3             Demografinės raidos histograma
 4             Demografinės raidos histograma
 5                                        NaN

                                            1  \
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                                1970 m.sur.
 2                                    372 100
 3             Demografinės raidos histograma
 4                                        NaN
 5                                        NaN

                                            2  \
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                                1979 m.sur.
 2                                    475 825
 3             Demografinės raidos histograma
 4                                        NaN
 5                                        NaN

                                            3  \
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                                1989 m.sur.
 2                                    576 747
 3             Demografinės raidos histograma
 4                                        NaN
 5                                        NaN

                                            4  \
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                                2001 m.sur.
 2                                    553 904
 3             Demografinės raidos histograma
 4                                        NaN
 5                                        NaN

                                            5  \
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                                    2005 m.
 2                                    560 190
 3             Demografinės raidos histograma
 4                                        NaN
 5                                        NaN

                                            6
 0  Demografinė raida tarp 1959 m. ir 2011 m.
 1                             2011 m.sur.[1]
 2                                    538 968
 3             Demografinės raidos histograma
 4                                        NaN
 5                                        NaN  ,
 Empty DataFrame
 Columns: [Demografinės raidos histograma]
 Index: [],
     Numeris                    Seniūnija     Plotas  Gyventojų skaičius
 0         1             Verkių seniūnija  55,65 km²               49359
 1         2         Antakalnio seniūnija   77,2 km²               39758
 2         3         Pašilaičių seniūnija    8,2 km²               39543
 3         4       Fabijoniškių seniūnija    4,1 km²               38253
 4         5           Pilaitės seniūnija   13,8 km²               26376
 5         6        Justiniškių seniūnija   2,98 km²               26818
 6         7        Viršuliškių seniūnija    2,5 km²               14177
 7         8           Šeškinės seniūnija    4,4 km²               34084
 8         9          Šnipiškių seniūnija   3,12 km²               16657
 9        10            Žirmūnų seniūnija    8,5 km²               44028
 10       11       Karoliniškių seniūnija    4,0 km²               25770
 11       12            Žvėryno seniūnija    2,7 km²               13465
 12       13          Grigiškių seniūnija    7,1 km²               11592
 13       14            Lazdynų seniūnija   10,3 km²               31900
 14       15          Vilkpėdės seniūnija   10,3 km²               20472
 15       16       Naujamiesčio seniūnija    4,8 km²               30693
 16       17        Senamiesčio seniūnija    4,5 km²               21503
 17       18  Naujosios Vilnios seniūnija   39,3 km²               37372
 18       19            Panerių seniūnija  84,94 km²               10064
 19       20         Naujininkų seniūnija   41,1 km²               31407
 20       21               Rasų seniūnija   12,7 km²               11463,
                                                    0  \
 0  Almata, Kazachija  Astana, Kazachija  Briuseli...

                                                    1  \
 0  Erfurtas, Vokietija  Gdanskas, Lenkija  Guangd...

                                                    2  \
 0  Madisonas, JAV  Minskas, Baltarusija  Olborgas...

                                                    3
 0  Stokholmas, Švedija  Strasbūras, Prancūzija  T...  ,
                                                    0  \
 0  ž • a • rLietuvos apskritys Alytaus apskritis ...
 1                        ž • a • rLietuvos apskritys
 2                                                NaN
 3  Alytaus apskritis | Kauno apskritis | Klaipėdo...
 4                                                NaN
 5                                 Vilniaus apskritis
 6                                                NaN
 7  Elektrėnų savivaldybė | Šalčininkų rajonas | Š...

                                                    1
 0                                                NaN
 1                        ž • a • rLietuvos apskritys
 2                                                NaN
 3  Alytaus apskritis | Kauno apskritis | Klaipėdo...
 4                                                NaN
 5                                 Vilniaus apskritis
 6                                                NaN
 7  Elektrėnų savivaldybė | Šalčininkų rajonas | Š...  ,
                          ž • a • rLietuvos apskritys  \
 0                                                NaN
 1  Alytaus apskritis | Kauno apskritis | Klaipėdo...
 2                                                NaN
 3                                 Vilniaus apskritis
 4                                                NaN
 5  Elektrėnų savivaldybė | Šalčininkų rajonas | Š...

                        ž • a • rLietuvos apskritys.1
 0                                                NaN
 1  Alytaus apskritis | Kauno apskritis | Klaipėdo...
 2                                                NaN
 3                                 Vilniaus apskritis
 4                                                NaN
 5  Elektrėnų savivaldybė | Šalčininkų rajonas | Š...  ]

Pandas pabandė ištraukti visas lenteles iš puslapio ir gavosi štai tokia košė :)

šie duomenys yra DataFrame'ų sąrašas:

In [53]:
type(duomenys_html)

list

In [61]:
type(duomenys_html[0])

pandas.core.frame.DataFrame

In [69]:
duomenys_html[6].head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

paspėliojus iškapstėme savo lentelę. Galima, žinoma sukurti *for* ciklą grąžinantį mums reikiamos lentelės indeksą, bet greičiau būna kartais paspėlioti :)

### SQL

Susikurkime primityvią duomenų bazę:

In [70]:
from sqlalchemy import create_engine

In [73]:
engine = create_engine('sqlite:///duomenys.db')

įdėkime mūsų DF į duomenų bazę:

In [78]:
duomenys.to_sql('savivaldos', con=engine, index=False)

Dabar ištraukime:

In [79]:
duomenys_sql = pd.read_sql('savivaldos', con=engine.connect())

In [81]:
duomenys_sql.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

# Pastaba:

Jeigu kažkuris iš nuskaitymo/įrašymo metodų neveiks, tikėtina, kad trūksta kažko iš šių bibliotekų:
* conda install sqlalchemy
* conda install lxml
* conda install html5lib
* conda install BeautifulSoup4